<div class="row mt-2">
    <div class="col">
        <h2>Software Management</h2>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col">
        <app-software-search-by-employeenumber></app-software-search-by-employeenumber>
    </div>
</div>
<hr>
<div class="row mt-4">
    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="softwareInfo-tab" href="#softwareInfo" data-toggle="tab" role="tab">
                    Info
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="softwareReport-tab" href="#softwareReport" data-toggle="tab" role="tab">
                    Report
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="softwareOperate-tab" href="#softwareOperate" data-toggle="tab" role="tab">
                    Operate
                </a>
            </li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane fade show active" id="softwareInfo" role="tabpanel">
                <app-software-info></app-software-info>
            </div>
            <div class="tab-pane fade" id="softwareReport" role="tabpanel">
                <p>Report</p>
            </div>
            <div class="tab-pane fade" id="softwareOperate" role="tabpanel">
                <app-software-operate></app-software-operate>
            </div>
        </div>
    </div>
</div>

