<h2>News</h2>
<hr>
<div class="row">
    <div class="col">
        <div class="my-2" data-toggle="tooltip" title="Create News">
            <button type="button" class="btn btn-info" (click)="onCreate()">
                <i class="fas fa-plus"></i>
                Create
            </button>
               
        </div>
    </div>
    <div class="col d-flex justify-content-end align-items-end">
        <div class="my-2" data-toggle="tooltip" title="File Export">
            <button type="button" class="btn btn-info" (click)="onFileExport(title)">
                <i class="fas fa-file-export "></i>  
                Export
            </button>
               
        </div>
    </div>
</div>
<hr>
<div class="row my-3">    
    <div class="col">        
            <div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>                    
                </div>
                <input type="text" class="form-control" [(ngModel)]="title" placeholder="News Title Search..">
            </div>        
    </div>    
</div>

<div class="row my-3">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>News Title</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th class="text-center">Pin</th>
                    <th class="text-center">Active</th>
                    <th class="text-center">Operate</th>
                </tr>
            </thead>
            <tbody>   
                   
                <tr *ngFor="let newsList of newsLists | newsSearch:title | paginate:{itemsPerPage: 10, currentPage: page, totalItems: total}" >
                    <td>{{newsList.id}}</td>
                    <td><a data-toggle="modal" data-target="#viewNews" class="text-info" (click)="onView(newsList)">{{newsList.news_title}}</a></td>
                    <td>{{newsList.createAt | date}}</td>
                    <td>{{newsList.updateAt | date}}</td>
                    <td class="text-center">
                        <a data-toggle="tooltip" title="Unpin">
                            <i *ngIf="newsList.news_pin ;  else unPin" class="fas fa-thumbtack text-dark" (click)="onPinDeactivate(newsList.id)"></i>
                        </a>                
                        <ng-template #unPin>
                            <a data-toggle="tooltip" title="Pin">
                                <span (click)="onPinActivate(newsList.id)">-</span>
                            </a>                    
                        </ng-template>
                    </td>
                    <td class="text-center">
                        <a data-toggle="tooltip" title="Deactivate" >
                            <i *ngIf="newsList.news_state ; else unCheck" class="fas fa-check text-success" (click)="onDeactivate(newsList.id)"></i>
                        </a>
                        
                        <ng-template #unCheck>
                            <a data-toggle="tooltip" title="Activate" >
                                <i class="far fa-times-circle text-danger" (click)="onActivate(newsList.id)"></i>
                            </a>                   
                        </ng-template>
                    </td>
                    <td class="text-center">                             
                        <a>
                            <i class="fas fa-pen mx-2" (click)="onEdite(newsList)"><small> Edit</small></i>
                        </a>
                        |
                        <a>
                            <i class="fas fa-trash text-danger mx-2"  data-toggle="modal" data-target="#deleteConfirm" (click)="onDeleteConfirm(newsList.id)"><small> Delete</small></i>
                        </a>
                        
                    </td>
                </tr> 
                   
            </tbody>    
        </table>
        <div class="d-flex justify-content-end">
            <pagination-controls (pageChange)="page = $event" autoHide="true" ></pagination-controls>
        </div>

    </div>
    
</div>


<!-- modal delete confirm -->
<div class="modal" id="deleteConfirm" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Delete Confirmation.
                </div>
            </div>
            <div class="modal-body">
                <p>Delete News ID :{{id}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                <button type="button" class="btn btn-danger" (click)="onDelete(id)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- modal view news -->
<div class="modal" id="viewNews" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h2><b>{{viewsNews.news_title}}</b></h2>
                </div>
            </div>
            <div class="modal-body">
                <p class="text-muted">update: {{viewsNews.updateAt | date}}</p>
                <div [innerHTML]="viewsNews.news_text"></div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


