<div class="row">
    <div class="col">
        <div class="my-2" data-toggle="tooltip" title="Create Download">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#insertSoftware" (click)="onCreate()">
                <i class="fas fa-plus"></i>
                Create
            </button>
               
        </div>
    </div>    
</div>

<div class="row my-3">    
    <div class="col">        
            <div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>                    
                </div>
                <input type="text" class="form-control" placeholder="Software Name..">
            </div>        
    </div>    
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <th>Software</th>
                <th class="text-center">State</th>
                <th class="text-center">Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of softwareList">
                    <td>{{data.software_name}} {{data.software_version}}</td>                    
                    <td class="text-center">
                        <a data-toggle="tooltip" title="Deactivate" >
                            <i *ngIf="data.software_state ; else unCheck" class="fas fa-check text-success" (click)="onDeactivate(data.id)" ></i>
                        </a>
                        
                        <ng-template #unCheck>
                            <a data-toggle="tooltip" title="Activate" >
                                <i class="far fa-times-circle text-danger" (click)="onActivate(data.id)"></i>
                            </a>                   
                        </ng-template>
                    </td>
                    <td class="text-center">
                        <a>
                            <i class="fas fa-pen mx-2" data-toggle="modal" data-target="#insertSoftware" (click)="onEdit(data)"><small> Edit</small></i>
                        </a>
                        |
                        <a>
                            <i class="fas fa-trash text-danger mx-2" data-toggle="modal" data-target="#deleteConfirm" (click)="onDeleteConfirm(data)"><small> Delete</small></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- modal delete confirm -->
<div class="modal" id="deleteConfirm" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Delete Confirmation.
                </div>
            </div>
            <div class="modal-body">
                <p>Delete : {{software}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- modal Insert Software -->
<div class="modal" id="insertSoftware" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Insert Software
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-software-insert 
                [insert_id]='insert_id'
                [insert_software_name]='insert_software_name'
                [insert_software_version]='insert_software_version'
                ></app-software-insert>
            </div>
            
        </div>
    </div>
</div>
