<div class="row p-2">
    <div class="col">
        <h3>Software Info</h3>
        <hr>
    </div>
</div>

<div class="row p-2">
    <div class="col">
        <table class="table table-striped table-dark">
            <thead>
                <th>No</th>
                <th>Software Name</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Balance</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of softwareBalance; index as i">
                    <td>{{i}}</td>
                    <td>{{data.software_name}} {{data.software_version}}</td>
                    <td class="text-center">{{data.software_quantity | number}}</td>
                    <td class="text-center" [ngClass]="data.balance_total > 0 ? 'text-success':'text-danger'"><b>{{data.balance_total | number}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


