<h2>Carousel</h2>
<hr>

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header">
                <h3>Carousel {{action}}</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="carouselForm" (ngSubmit)="onSubmit()">
                    <label>Carousel Name</label>
                    <input type="text" formControlName="carousel_name" class="form-control" placeholder="Carousel Name">
                    <label>News Link</label>
                    <select formControlName="news_id" class="form-control">
                        <option value='' disabled>Select News</option>
                        <option *ngFor="let news of news_list" [value]="news.id">{{news.news_title}}</option>
                    </select>
                    <label>Carousel Image</label>
                    <select formControlName="carousel_image_file" class="form-control">
                        <option value='' disabled>Select Image</option>
                        <option *ngFor="let file of carousel_files" [value]="file.name">{{file.name}}</option>
                    </select>
                    <div class="d-flex justify-content-end">                        
                        <button type="submit" class="btn btn-success mt-3" [disabled]="!carouselForm.valid" >{{action}}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>