<aside class="main-sidebar sidebar-dark-primary">       
    <a class="brand-link" routerLink="/dashboard">              
        <span class="brand-text font-weight-light">IT Infra</span>        
    </a>
    <div class="sidebar">
        
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/news">
                        <i class="fas fa-newspaper nav-icon"></i>
                        <p>News</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/download">                        
                        <i class="fas fa-download nav-icon"></i>
                        <p>Download</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/upload">
                        <i class="fas fa-upload nav-icon"></i>
                        <p>Upload</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/faqs">
                        <i class="fas fa-question-circle nav-icon"></i>                        
                        <p>FAQS</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/carousel">
                        <i class="fab fa-slideshare nav-icon" ></i>
                        <p>Carousel</p>
                    </a>
                </li>                
            </ul>
        </nav>
    </div>

</aside>